body{
  background: url('https://images.pexels.com/photos/4498792/pexels-photo-4498792.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load');
}

.chat-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
}

.chat-input {
  display: flex;
  margin-bottom: 10px;
 
}

.chat-input input[type="text"] {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.chat-input button[type="submit"] {
  margin-left: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}

.chat-history {
  margin-top: 10px;
}

.message {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.message.user {
  background-color: #e2eaf1;
}

.message.assistant {
  background-color: #f3f7fa;
}
.loader{
  height: 100px;
  width: 100px;
 margin-left: 30%;
}
